# description: The URL of the API for passkeys
# format: url
# required: true
API_URL=https://comms.twilio.com/preview

# description: The origins from which the passkeys will be register
# format: list(url)
# required: true
ORIGINS=

# description: [Optional] Comma separated domains for Android application
# format: list(text)
# required: false
ANDROID_APP_KEYS=
